/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.disp{
margin-left: 50px;
margin-top: 50px;
margin-right: 50px;
margin-bottom: 50px;
}

.styl {
  border: 2px solid grey;
  background-size: auto;
  width: 500px;
  background-size: 100%;
  min-height: 400px;
  color:white;
}

.your-div {
  position: relative;
}

  .your-div span {
    position: absolute;
    bottom: 0;
  }

.fl{
  float:left;
}

.fr{
  float:right;
}
