<form [formGroup]="ForgotPassword" (ngSubmit)="onSubmit(ForgotPassword.value)">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" formControlName="email" [pattern]="emailPattern" name="email" />
      <div *ngIf="ForgotPassword.controls['email'].errors && ForgotPassword.controls['email'].touched" style="color:red" class="help-block">
        <div *ngIf="ForgotPassword.controls['email'].errors.required">Email is required.</div>
        <div *ngIf="ForgotPassword.controls['email'].errors.pattern">Email is invalid</div>
      </div>
  </div>    
  <div class="form-group">
    <input [disabled]="!ForgotPassword.valid" type="submit"/>
  </div>
</form>
