<div class="disp" >
<form [formGroup]="blogForm" (ngSubmit)="onSubmit(blogForm.value)" >
      <div class="form-group">
        <img [src]="url?url:''" height="100px" width="100px" alt=""><br/>
          <input type="file" #fileInput formControlName="Image" id="file"
        (change)="handleFileInput($event)"/><br/>
      </div>

      <div class="form-group">
      <label>Title</label><br/>
      <input type="text" class="form-control" formControlName="Title"/>
    </div>
    <div class="form-group">
      <label>Blog</label><br/>
      <textarea class="form-control" formControlName="Description" cols="100" rows="8"></textarea>
    </div>
    <div class="form-group">
      <label>Tags</label>
      <input type="text" class="form-control" formControlName="Tags" placeholder="separate your tags with comma"/>
    </div>
    <div class="form-group">
      <input type="submit"  value="Submit"/>
    </div>
</form>
</div>


