 






<div class="jumbotron" style="height:20px;">
<h1> Hi {{currentUser.name}}!</h1> 
</div>

{{tab}}
<ul class="nav nav-tabs">
  <li class="nav-item " (click)="itunes=true;youtube=false;LogUsers=false">
    <a class="nav-link" [class.active]="itunes==true">Itunes</a>
  </li>
  <li class="nav-item" (click)="itunes=false;youtube=true;LogUsers=false">
    <a class="nav-link" [class.active]="youtube==true">Youtube</a>
  </li>
  <li class="nav-item" (click)="itunes=false;youtube=false;LogUsers=true">
    <a class="nav-link" [class.active]="LogUsers==true">Users</a>
  </li>
</ul>

<div *ngIf="itunes">
<itunes-search></itunes-search>
</div>
<div *ngIf="youtube">
  <youtube-search></youtube-search>
</div>

<div *ngIf="LogUsers">
    <ul>
      <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}}  {{user.lastName}})
        <a (click)="deleteUser(user)">Delete</a>
      </li>
    </ul>   
</div>


<style>
  li{
    cursor: pointer;
  }
</style>
