 






<div class="jumbotron" style="height:20px;">
<h1> Hi {{currentUser.name}}!</h1> 
</div>

{{tab}}
<ul class="nav nav-tabs">
  <li class="nav-item " (click)="itunes=true;youtube=false;LogUsers=false">
    <a class="nav-link" [class.active]="itunes==true">Itunes</a>
  </li>
  <li class="nav-item" (click)="itunes=false;youtube=true;LogUsers=false">
    <a class="nav-link" [class.active]="youtube==true">Youtube</a>
  </li>
  <li  *ngIf="showUsers()" class="nav-item" (click)="itunes=false;youtube=false;LogUsers=true">
    <a class="nav-link" [class.active]="LogUsers==true">Users</a>
  </li>
</ul>

<div *ngIf="itunes">
<itunes-search></itunes-search>
</div>
<div *ngIf="youtube">
  <youtube-search></youtube-search>
</div>

<div *ngIf="showUsers() && LogUsers">
    <table class="table table-hover" >
      <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <!--({{user.firstName}}  {{user.lastName}})-->
        <td><a (click)="deleteUser(user)">Delete</a></td>
      </tr>
    </table>   
</div>


<style>
  li{
    cursor: pointer;
  }
</style>
