<!-- <div class="col-md-6 col-md-offset-3">
  <div style="background-color:gainsboro; width:100%">
    <h1> Hi {{currentUser.firstName}}!</h1>
    <p>Welcome to Login Application</p>
  </div><br/><br/>
  <h3>All registered users:</h3>
  <ul>
    <li *ngFor="let user of users">
      {{user.username}} ({{user.firstName}}  {{user.lastName}})
      <<a (click)="deleteUser(user)">Delete</a>>
    </li>
  </ul>
  <p><a [routerLink]="['/login']"> Logout </a></p>
</div> -->






<div class="jumbotron" style="height:20px;">
<h1> Hi {{currentUser}}!</h1> 
</div>

{{tab}}
<ul class="nav nav-tabs">
  <li class="nav-item " (click)="itunes=true;youtube=false" >
    <a class="nav-link" [class.active]="itunes==true">Itunes</a>
  </li>
  <li class="nav-item" (click)="itunes=false;youtube=true">
    <a class="nav-link" [class.active]="youtube==true" >Youtube</a>
  </li>
</ul>

<div *ngIf="itunes">
<itunes-search></itunes-search>
</div>
<div *ngIf="youtube">
  <youtube-search></youtube-search>
</div>
