<!--The content below is only a placeholder and can be replaced.-->
<div hidden >
<!-- <login (Logged)='changeLogged($event)'></login> -->
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/home']">Home </a>
        <a class="nav-item nav-link" [routerLink]="['/about']">About</a>
        <a class="nav-item nav-link" (click)="signOut()" *ngIf="loggedIn">LogOut</a>
        <a class="nav-item nav-link" [routerLink]="['/login']" *ngIf="!loggedIn">LogIn</a>
        <!-- <a class="nav-item nav-link" [routerLink]="['/test']" *ngIf="currentUser">Games</a> -->
        <div class="dropdown" *ngIf="loggedIn">
          <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: rgba(255,255,255,.5)">
            Games
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/tictactoe']">Tic-Tac-Toe</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <div>
   <alert></alert>
    <router-outlet></router-outlet>
  </div>


