<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
<div class="container disp ">
  <div>
    <p> Search your favourites from youtube.
    <!-- <img style="float: right;" *ngIf="loading" src='assets/images/loading.gif' alt="loading"/> -->
  </p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <search-box 
       (results)="updateResults($event)">|</search-box>
      <!--<input type="text" class="form-control" (change)="updateResults($event.target.value)"/>-->
       <br/><br/>
    </div>
    </div>
  <div class="row" *ngIf="loading" >
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr class="col-sm-12">
        <th class="col-sm-4 col-offset-sm-8">Title</th>
        <!--<th  class="col-sm-8 ">Video</th>-->
      </tr>
    </thead>
    <tbody >
        <tr *ngFor="let result of results" class="col-sm-12">
          <td class="col-sm-4 col-offset-sm-8">
            <h3>{{result.title}}</h3><br />
            <iframe [src]="result.id | youtube" width="100%" height="400px" frameborder="0" allowfullscreen></iframe>
          </td>
          <!--<td class="col-sm-8"><iframe [src]="result.id | youtube" frameborder="0" allowfullscreen></iframe></td>-->
          </tr>
  </tbody>
  </table>
  </div>

</div>
