<form [formGroup]="ResetPassword" (ngSubmit)="onSubmit(ResetPassword.value)">
  <div class="form-group">
    <label>New Password</label>
    <input type="password" formControlName="password" name="password" [(ngModel)]="password" />
  </div>
  <div *ngIf="!password.valid && (password.dirty||password.touched)" style="color:red" class="help-block"> * Password is required</div>
  <div>
    <label>Retype password</label>
    <input type="password" formControlName="repassword" name="repassword" [(ngModel)]="repassword" />
  </div>
  <div *ngIf="!repassword.valid && (repassword.dirty||repassword.touched)" style="color:red" class="help-block"> * Confirm Password is required</div>
  <input type="submit" />
</form>

